################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
tests/__pycache__
__pycache__
.pytest_cache
